* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  margin: 3.5% auto;
  background-color: hsl(216, 50%, 16%);
  width: 18%;
  border-radius: 0.48rem;
  padding: 1.6rem 0;
  padding-left: 1.5rem;
  padding-right: 0rem;
  min-width: 300px;
  height: 75vh;
  box-shadow: 1px 1px 1.5rem 2.5px;
}

.container > img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border-radius: 0.45rem;
  margin-bottom: 0.9rem;
}

.container h3 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.7rem;
  font-weight: 400;
}

.container p {
  color: hsl(215, 51%, 70%);
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
  font-weight: 300;
  width: 90%;
}

.flex-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-1,
.item-2 {
  margin-bottom: 1.2rem;
}
.item-1 h5,
.item-2 h5 {
  display: inline-block;

  margin-bottom: 5px;
}

.item-1 > img {
  width: 0.37rem;
}

.item-2 > img {
  width: 0.6rem;
}

.item-1 h5 {
  color: hsl(178, 100%, 50%);
  font-size: 0.65rem;
  font-weight: 600;
}

.item-2 h5 {
  color: hsl(215, 51%, 70%);
  font-size: 0.65rem;
  font-weight: 300;
}

.line {
  width: 90%;
  border: none;
  border-top: 0.1px hsl(215, 51%, 70%) solid;
  margin-bottom: 1.2rem;
}

.footer {
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 90%;
  /* align-items: center; */
}

.footer img {
  width: 2rem;
}

.footer p {
  padding-top: 0.65rem;
  padding-left: 0.32rem;
  align-self: center;
  font-size: 0.8rem;
}

span {
  color: cyan;
}
